<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAj7DtYNaL75VHHrpdXGYWeY180zTPWZYc">
    </script>
    <script type="text/javascript">
  var map;
  var marker;
	function initialize() {
        var mapOptions = {
            zoom: 15,
            center: {lat: -33.30578381949298, lng: 26.523442268371582}
        };

        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

      	map.addListener( 'click', function(event){
      		placeMarker(event.latLng);
      	 });

        placeCrimes({{crimes| safe}});
	}
	function placeMarker(location){
    if(marker){
      marker.setPosition(location);
    }else{
     marker = new google.maps.Marker({
        position: location,
        map: map
      });
    }
    document.getElementById('latitude').value = location.lat();
    document.getElementById('longitude').value = location.lng();


	}

  function placeCrimes(crimes){
    console.log(crimes);
    for (i = 0; i < crimes.length; i++) {
      crime = new google.maps.Marker({
        position: new google.maps.latLng(crimes[i].latitude, crimes[i].longitude),
        map: map,
        title: crimes[i].date + "\n" + crimes[i].category + "\n" + crimes[i].description
      });
    }
  }


    </script>
  </head>
  <body onload="initialize()">
    <h1>CrimeMap</h1>
    <p>A map of recent criminal activity in Grahamstown area.</p>
    <div id="map-canvas"> </div>

    <div id="newcrimeform">
      <h2>Submit new crime</h2>
      <form action="/submitcrime" method="post">
        <label for="category">Category</label>
        <select id="category" name="category">
          <option value="mugging">Muggin</option>
          <option value="breakin">Break-in</option>
        </select>
        <label for="date">Date</label>
        <input type="date" name="date" id="date">
        <label for="latitude">Latitude</label>
        <input name="latitude" id="latitude" type="text">
        <label for="longitude">Longitude</label>
        <input type="text" name="longitude" id="longitude">
        <label for="description">Description</label>
        <textarea name="description" id="description" placeholder="A brief but detailed description of the crime."></textarea>
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
